{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container mt-4 mb-5 pb-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Connexion</h2>
                    </div>
                    <div class="card-body">
                        {% if error %}
                            <div class="alert alert-danger">
                                {% if error.message == 'Votre compte est inactif. Veuillez contacter un administrateur.' %}
                                    Votre compte n'est plus actif. Veuillez contacter un administrateur.
                                {% else %}
                                    Identifiants ou mot de passe incorrects, veuillez réessayer.
                                {% endif %}
                            </div>
                        {% endif %}

                        <form method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Email ou pseudo :</label>
                                <input type="text" value="{{ last_username }}" name="_username" id="username"
                                       class="form-control" autocomplete="username" required autofocus>
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Mot de passe :</label>
                                <input type="password" name="_password" id="password"
                                       class="form-control" autocomplete="current-password" required>
                            </div>

                            <input type="hidden" name="_csrf_token" data-controller="csrf-protection"
                                   value="{{ csrf_token('authenticate') }}">

                            <div class="mb-3">
                                <input type="checkbox" name="_remember_me" id="_remember_me">
                                <label for="_remember_me">Se souvenir de moi</label>
                            </div>

                            <div class="text-center mt-3">
                                <button class="btn btn-primary btn-lg" type="submit">Se connecter</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
